/* ONLY PUT ELEMENT COLOR STYLES IN HERE TO KEEP THEM SEPERATE FROM SPACING AND OTHER STYLES */

body,
html {
    /* background-color: #D9D9D7; */
    background: linear-gradient(to bottom right, #5A7A8C, #5c7b8c, #607987);
}

* {
    color: #333436;
}

figcaption {
    background: var(--paper);
}

.individual-papers {
    border: 1px solid #ccc;
    color: #1d1919;
    background: var(--paper);
}

.navlinks:hover {
    color: var(--blue-gray);
}

.individual-hobbies {
    /* border: 1px solid black; */
    background: var(--off-gray-darker);
}

.fa-book {
    color: #333436;
    font-size: 64px;
}

#top-navbar {
    background: var(--charcoal);
}

.navlinks-container a {
    color: var(--off-white);
}

#einstein-image-section,
#about-me-section {
    background: var(--off-white);
}

#hobbies-section {
    background: var(--off-gray);
}

#image-collection-section {
    background: var(--off-white);
}

#papers-section {
    background: var(--off-gray);
}
