/* ----------------------------------- */
/* Base element styles */
/* ----------------------------------- */

body,
html {
    /* Blue/gray gradient from the top left of the page to the bottom right */
    background: linear-gradient(to bottom right, #5A7A8C, #5c7b8c, #607987);
}

/* Font color for the entire page */
* {
    color: var(--text-charcoal);
}

figcaption {
    background: var(--paper);
}

/* ----------------------------------- */
/* ID Elements */
/* ----------------------------------- */

#top-navbar {
    background: var(--charcoal);
}

#einstein-image-section,
#about-me-section {
    background: var(--off-white);
}

#hobbies-section {
    background: var(--off-gray);
}

#image-collection-section {
    background: var(--off-white);
}

#papers-section {
    background: var(--off-gray);
}

/* ----------------------------------- */
/* Class elements */
/* ----------------------------------- */

.navlinks-container a {
    color: var(--off-white);
}

.navlinks:hover {
    color: var(--blue-gray);
}

.individual-hobbies {
    /* border: 1px solid black; */
    background: var(--off-gray-darker);
}

.individual-papers {
    /* border: 1px solid #ccc; */
    color: var(--text-charcoal);
    background: var(--paper);
}

.fa-book {
    color: var(--text-charcoal);
}

