/* ONLY PUT ELEMENT COLOR STYLES IN HERE TO KEEP THEM SEPERATE FROM SPACING AND OTHER STYLES */

body,
html {
    background-color: #D9D9D7;
}

* {
    color: #333436;
}

figcaption {
    background: white;
}

.individual-papers {
    border: 1px solid #ccc;
    color: #1d1919;
    background: #f9e052;
}

.individual-papers:hover {
    background: orange;
    cursor: pointer;

}

.individual-hobbies {
    /* border: 1px solid black; */
    background: var(--off-gray-darker);
}

.fa-paperclip {
    color: black;
    font-size: 64px;
}

#top-navbar {
    background: var(--charcoal);
}

.navlinks-container a {
    color: var(--off-white);
}

#einstein-image-section,
#about-me-section {
    background: var(--off-white);
}

#hobbies-section {
    background: var(--off-gray);
}

#image-collection-section {
    background: var(--off-white);
}

#papers-section {
    background: var(--off-gray);
}
