:root {
    --main_spacing_margin: 1rem;
    --main_spacing_padding: 1rem;

    /* --------------- */
    /* Colors */
    /* --------------- */
    --dusty: #96858F;
    --lavender: #6D7993;
    --overcast: #9099A2;
    --paper: #D5D5D5;


    --off-white: #F7F7F5;
    --off-gray: #ECECEC;
    --off-gray-darker: #E3E3E1;
    --charcoal: #333436;
    --slate-gray: #6C757D;
    --blue-gray: #5A7A8C;

}
