/* Change the grid layout in mobile view to be 1 column of sections */
@media (max-width: 800px) {

    #main-grid-container {
        grid-template-areas:
            "mobile-navbar"
            "top-navbar"
            "einstein-image-section"
            "about-me-section"
            "hobbies-section"
            "image-collection-section"
            "papers-section";
        grid-template-columns: 1fr;
        grid-template-rows: auto, auto, auto, auto, auto, auto, auto;
    }

    /* When entering mobile view, do not immedietly show the navbar until the user clicks the hamburger menu icon */
    #top-navbar {
        display: none;
    }

    /* Show the hamburger menu icon when in mobile view */
    #mobile-navbar {
        display: inline;
    }

    /* Set the image to about 250px for mobile users with a px width <= 300 */
    #einstein-image {
        width: 250px;
    }

    .about-me-container,
    .about-me-header {
        /* Change the margins in mobile view so each word isnt on 1 line */
        margin-left: 1.75rem;
        margin-right: 1.75rem;
    }

    .about-me-header {
        margin-top: 1.25rem;
    }

    /* Set a width of 80% to leave some breathing room on the left and right margins */
    .individual-papers,
    .individual-hobbies,
    .individual-image {
        width: 80%;
    }

    .hobbies-container {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .individual-hobbies img {
        height: auto;
    }

    .individual-image {
        align-items: center;
    }

    .individual-image img {
        height: auto;
    }

    /* Size of the hamburger menu icon */
    .fa-bars {
        font-size: 24px;
    }
}