/* Change the grid layout in mobile view to be a column of sections */
@media (max-width: 800px) {

    #main-grid-container {
        grid-template-areas:
            "mobile-navbar"
            "top-navbar"
            "einstein-image-section"
            "about-me-section"
            "hobbies-section"
            "image-collection-section"
            "papers-section";
        grid-template-columns: 1fr;
    }

    #top-navbar {
        display: none;
    }

    #mobile-navbar {
        display: inline;
    }

    #einstein-image {
        width: 250px;
    }

    #about-me-container,
    .about-me-header {
        /* Change the margins in mobile view so each word isnt on 1 line */
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .about-me-header {
        margin-top: 1rem;
    }

    /* Set a width of 80% to leave some breathing room on the left and right margins */
    .individual-papers,
    .individual-hobbies,
    .individual-image {
        width: 80%;
    }

    .hobbies-container {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .individual-image {
        align-items: center;
    }

    .individual-image img {
        height: auto;
    }

    /* Size of the hamburger menu icon */
    .fa-bars {
        font-size: 24px;
    }
}